<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Tareas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1>Lista de Tareas</h1>
    <a href="/add">Agregar Nueva Tarea</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Completada</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.id}"></td>
                <td th:text="${todo.title}"></td>
                <td th:text="${todo.completed} ? 'Sí' : 'No'"></td>
                <td th:text="${todo.user != null ? todo.user.username : 'Sin usuario'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

