<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="/add-user">Agregar Nuevo Usuario</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>